<header>
  <h1>
    Olá, <span>{{ personName }}</span
    >!
  </h1>

  <img [src]="buttonTheme" alt="Tema" (click)="toggleTheme()" />
</header>
<main>
  <app-summary-cards [income]="incomeTotal" [expenses]="expensesTotal"> </app-summary-cards>

  <app-filter
    [categoriesList]="categoryListApi"
    (newCategoryClicked)="onNewCategoryClick()"
    (newRegisterClicked)="onNewRegisterClick()"
  ></app-filter>

  @if (showNewCategory) {
    <app-new-category
      [categoriesList]="categoryListApi"
      (closeCategory)="offNewCategoryClick()"
      (categoryChanged)="onCategoryChanged()"
    ></app-new-category>
  }

  @if (showNewRegister) {
    <app-new-register
      [categoriesList]="categoryListApi"
      [transactionToEdit]="transactionToEdit"
      (saveTransaction)="onTransactionSubmit($event)"
      (closeRegister)="offNewRegisterClick()"
    ></app-new-register>
  }

  <app-financial-profile></app-financial-profile>

  <app-content
    [transactionsList]="transactionListApi"
    (editTransaction)="onEditTransaction($event)"
    (deleteTransaction)="onDeleteTransaction($event)"
  ></app-content>

  <router-outlet />
</main>
<footer class="footer">
  <p>2026 | Controle Financeiro</p>
  <p>© Carla Beatriz | CAIXAVERSO | Dev Front-end</p>
  <p>AdaTech | Turma 1662 | Angular I</p>
</footer>
