.filter {
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
  width: calc((100% - 2.4rem));

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.partition {
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  padding: 0 1rem;
}

/* ! ========== CALENDÁRIO ========== */

#cancelButton,
#selectButton {
  all: unset;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  margin: var(--default-margin);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: var(--primary) solid 0.1rem;
  background-color: var(--bg-lighter);
  color: var(--font);
  width: calc((100% - 2.4rem));
}

/* ! ========== C/D ========== */

.type {
  padding: 0.4rem;
  border-radius: 0.5rem;
  font: inherit;

  width: 5rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: transparent;
  border: 1.6px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.type::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
  z-index: -1;
}

.type:hover {
  color: var(--bg-lighter);
}

.type:hover::after {
  width: 100%;
}

.type.selected {
  color: var(--bg-lighter);

  position: relative;
  z-index: 1;
}

.type.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
  z-index: -1;
}

.type.selected:hover {
  color: var(--primary);
  border: 1.6px solid var(--primary);
}

.type.selected:hover::after {
  width: 0;
}

/* ! ========== CATEGORIA ========== */

.mat-mdc-option.mdc-list-item {
  color: var(--font);
}

.mat-mdc-optgroup {
  color: var(--primary);
}

.mat-mdc-option.mdc-list-item:hover {
  background: var(--bg-lighter);
}

.mat-mdc-option.mdc-list-item--selected {
  color: var(--primary);
}

/* ! ========== BOTÕES FILTRO ========== */

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.buttonFilter,
.buttonRegister {
  padding: 1.2rem 0;
  border-radius: 0.5rem;
  font: inherit;

  width: 12.6rem;
  font-weight: 600;
  background-color: transparent;
  border: 1.6px solid var(--bg);
  box-shadow: var(--default-shadow);
  color: var(--font);
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.buttonFilter::after,
.buttonRegister::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg);
  transition: width 0.3s ease;
  z-index: -1;
}

.buttonFilter:hover,
.buttonRegister:hover {
  color: var(--primary);
}

.buttonFilter:hover::after,
.buttonRegister:hover::after {
  width: 100%;
}

.buttonRegister {
  width: auto;
  padding: 1.2rem;
  font-weight: 900;
  color: var(--primary);
}
