<div class="filter">
  <form>
    <div class="filterContainer">
      <label for="startDate" name="startDate">Data início:</label>
      <input type="date" id="startDate" />
    </div>

    <div class="filterContainer">
      <label for="endDate" name="endDate">Data Fim:</label>
      <input type="date" id="endDate" />
    </div>

    <div class="filterContainer">
      <label for="category" name="category">Categoria:</label>
      <select name="category" id="category">
        <option value="default" selected disabled hidden>Selecione a categoria...</option>
        <!-- @for () { -->
        <option value="1">Receita</option>
        <!-- } -->
      </select>
    </div>
  </form>
</div>
