.filter {
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
  width: calc((100% - 2.4rem));
}
