<section class="financial-profile" [ngClass]="messageId">
  <div class="navContainer">
    <h2>Perfil Financeiro</h2>
    <div class="boxContainer">
      @for (item of profile; track item.name) {
        <button
          [ngClass]="{ boxCard: true, selected: selectedProfile === item.name }"
          (click)="selectProfile(item.name)"
        >
          <h2>{{ item.name }}</h2>
          <p>Prevê a utilização de até {{ item.range }}% do valor das receitas.</p>
        </button>
      }
    </div>
  </div>

  <div class="message">
    <h3>
      Perfil selecionado: <span>{{ selectedProfile }}</span>
    </h3>

    <p [innerHTML]="messageHtml"></p>
  </div>
</section>
