.summary-container {
  margin: 1.2rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.summary-item {
  box-shadow: 2px 2px 5px 1px rgba(56, 0, 153, 0.42);
  border-radius: 1rem;
  background-color: var(--bg-lighter);
  min-height: 7rem;
  color: var(--font);
  width: calc((100% - 2.4rem) / 3);
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: var(--secondary); */
}

.summary-item h2 {
  font-size: 2.5rem;
}
.summary-item p {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--font);
}
