.summary-container {
  margin: var(--default-margin);
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-item {
  box-shadow: var(--default-shadow);
  border-radius: var(--default-border-radius);
  background-color: var(--bg-lighter);
  min-height: 7rem;
  color: var(--font);
  width: calc((100% - 2.4rem) / 3);
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-item h2 {
  font-size: 2.5rem;
}
.summary-item p {
  font-style: italic;
}

@media screen and (max-width: 425px) {
  .summary-item h2 {
    font-size: 2rem;
  }
}
