<div class="table-container">
  <table class="table-cb">
    <thead>
      <tr class="table-header">
        <th>Data</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>C / D</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of transactionsListFiltered; track item.id) {
        <tr
          [ngClass]="{
            content: true,
            receita: item.type === tipoReceita,
            despesa: item.type === tipoDespesa,
          }"
        >
          <td>
            {{ formatDate(item.date) }}
          </td>
          <td class="left">{{ item.category }}</td>
          <td class="left">{{ item.description }}</td>
          <td class="right">
            @if (item.type === tipoReceita) {
              {{ item.value | currency: 'BRL' }}
            } @else {
              {{ -1 * item.value | currency: 'BRL' }}
            }
          </td>
          <td class="left">
            @if (item.type === 1) {
              C
            } @else {
              D
            }
          </td>
          <td class="action">
            <button (click)="onEdit(item)">Alterar</button>
            <button (click)="onDelete(item.id)">Excluir</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
