.table-container {
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
}

.table-cb {
  width: calc((100% - 2.4rem));
  border-collapse: collapse;
}

th {
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid var(--primary);
}

td {
  border-top: 0.1rem solid var(--primary);
  text-align: center;
}

tr {
  height: 2.5rem;
}

.left {
  text-align: left;
  padding-left: 1rem;
}

.right {
  text-align: right;
  padding-right: 1rem;
}

.receita {
  color: var(--green);
  font-weight: 600;
}

.despesa {
  color: var(--red);
  font-weight: 600;
}

.action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0.4rem 0rem;
}

.action button {
  all: unset;
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  min-width: 4.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: var(--primary);
  font-weight: 600;
  font-size: 1.1rem;
}

.content:hover {
  background-color: var(--bg);

  .action button {
    background-color: var(--bg-lighter);
  }

  .action button:hover {
    background-color: var(--primary);
    color: var(--bg-lighter);
  }
}
