table {
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
  width: calc((100% - 2.4rem));
}

th {
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

td {
  border-top: 0.2rem solid var(--secondary);
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.8rem;
}

.action button {
  all: unset;
  cursor: pointer;
  padding: .2rem .6rem;
  min-width: 4.5rem;
  border-radius: .5rem;
  background-color: var(--bg);
  color: var(--secondary);
  font-weight: 600;
  font-size: 1.1rem;
}
