form {
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  width: calc((100% - 2.4rem));

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.new-register,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  font: inherit;
}

.new-register {
  border: none;
  color: var(--font);
  font-weight: 500;
  background-color: var(--bg);
  width: 30rem;
  &.description {
    width: 100%;
  }
}

select:focus,
input:focus {
  border: 0.16rem solid var(--primary);
  outline: none;
}

select option {
  background-color: var(--bg-lighter);
}

select option:hover {
  background-color: var(--primary);
  color: var(--bg-lighter);
}

button {
  max-width: 10rem;
  font-weight: 600;
  background-color: transparent;
  border: 1.6px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
  z-index: -1;
}

button:hover::after {
  width: 100%;
}

button:hover {
  color: var(--bg-lighter);
}
