.formulario {
  background-color: var(--bg-lighter);
  box-shadow: var(--default-shadow);
  margin: var(--default-margin);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  width: calc((100% - 2.4rem));

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* ! ========== CATEGORIA ========== */

.categoriesOptions {
  min-width: 18rem;
  width: 18rem;
}

.mat-mdc-option.mdc-list-item {
  color: var(--font);
}

.mat-mdc-optgroup {
  color: var(--primary);
}

.mat-mdc-option.mdc-list-item:hover {
  background: var(--bg-lighter);
}

.mat-mdc-option.mdc-list-item--selected {
  color: var(--primary);
}

::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

::ng-deep .mat-mdc-datepicker-toggle {
  color: var(--primary);
}

/* ! ========== INPUT ========== */

.inputContainer {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

/* ! ========== BOTÃO ========== */

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.new-register,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  font: inherit;
}

.new-register {
  border: none;
  color: var(--font);
  font-weight: 500;
  background-color: var(--bg);
  width: 30rem;
  &.description {
    width: 70%;
  }
}

select:focus,
input:focus {
  border: 0.16rem solid var(--primary);
  outline: none;
}

select option {
  background-color: var(--bg-lighter);
}

select option:hover {
  background-color: var(--primary);
  color: var(--bg-lighter);
}

button {
  max-width: 10rem;
  font-weight: 600;
  background-color: transparent;
  border: 1.6px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
  z-index: -1;
}

button:hover::after {
  width: 100%;
}

button:hover {
  color: var(--bg-lighter);
}

/* ! ========== RESPONSIVIDADE ========== */

@media screen and (max-width: 960px) {
  .categoriesOptions {
    min-width: 15rem;
  }
}

@media screen and (max-width: 840px) {
  .inputContainer input {
    width: 100%;
  }

  .inputContainer,
  .buttonContainer {
    flex-direction: column;
  }

  .new-register,
  button {
    padding: 0.8rem;
  }
}
