<div class="formulario">
  <mat-form-field class="categoriesOptions">
    <mat-label>Categoria</mat-label>

    <mat-select [formControl]="categoryControl">
      <mat-option>-- Opções --</mat-option>

      @for (type of categoriesNameList; track type.type) {
        <mat-optgroup [label]="type.type" [disabled]="false">
          @for (category of type.categories; track category.id) {
            <mat-option [value]="category.id"> {{ category.name }} </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>

  <div class="inputContainer">
    <input
      class="new-register description"
      type="text"
      placeholder="Descrição"
      [formControl]="descriptionCategoryControl"
    />

    <input
      class="new-register value"
      type="number"
      placeholder="Valor"
      [formControl]="valueCategoryControl"
    />
  </div>

  <div class="buttonContainer">
    <button>Registrar</button>

    <button (click)="offNewRegisterClick()">Fechar</button>
  </div>
</div>
