form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 1.2rem;
  gap: 0.8rem;
  color: var(--font);
}
.new-register,
button {
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--bg-lighter);
  box-shadow: 2px 2px 5px 0px rgba(56, 0, 153, 0.42);
  width: calc((100% - 2.4rem));
}

.new-register {
  &.category {
    color: var(--font);

    width: 30rem;
  }
  &.value {
    width: 25rem;
  }
}
button {
  text-transform: uppercase;
  cursor: pointer;
  width: 18rem;
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: var(--secondary);
  font-weight: 600;
}

input:focus,
button:focus {
  border: 0.16rem solid var(--secondary);
  outline: none; /* remove a borda padrão do navegador */
}
