<div class="formulario">
  <mat-form-field class="categoriesOptions">
    <mat-label>Categoria</mat-label>

    <mat-select [formControl]="categoryControl">
      <mat-option>-- Opções --</mat-option>
      <mat-option [value]="creatNewCategory()"> CRIAR NOVA CATEGORIA </mat-option>

      @for (type of categoriesNameList; track type.type) {
        <mat-optgroup [label]="type.type" [disabled]="false">
          @for (category of type.categories; track category.id) {
            <mat-option [value]="category.id"> {{ category.name }} </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>

  <div class="buttonContainer">
    <button>Registrar</button>

    <button (click)="offNewCategoryClick()">Fechar</button>
  </div>
</div>
