@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jersey+25&family=Julius+Sans+One&family=Kite+One&family=Limelight&family=Permanent+Marker&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+NO:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", sans-serif;
  /* font-family: "Julius Sans One", sans-serif; */
  font-size: 15px;
}

:root {
  --primary: #cfe2e8;
  --secundary: #968248;
  --bg: #f4fffe;
  --text: #14213d;
  --alert: #fa5c5c;
  --select: #ececec;
  --margin: 40px;

  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--bg);
  color: var(--text);

  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

img {
  height: 60px;
}

/* ! HEADER */

.navBar-container {
  padding-top: 10px;
  background-color: var(--bg);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 999;

  display: flex;
  justify-content: space-between;
}

.hiddenNavBar {
  justify-content: center;
  cursor: none;
}

.logo {
  padding-left: var(--margin);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--secundary);
  font-family: "Julius Sans One", sans-serif;
}

.navBar-container-ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-right: var(--margin);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-container-ul p {
  font-size: 9px;
  font-weight: 700;
  font-family: "Julius Sans One", sans-serif;

  text-align: center;
}
.navBar-container-ul li {
  transition: ease-in-out 500ms;
  cursor: pointer;
}

.navBar-container-ul li:hover {
  transform: scale(1.01);
}

/* ! MAIN */

.app-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  padding: 20px;

  flex-grow: 1;
  margin-top: 75px;
}

/* ! SECTION WELCOME */

h1,
h2 {
  font-weight: 600;
  font-family: "Julius Sans One", sans-serif;
}

.containerWelcome {
  min-height: 550px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-btn-welcome {
  width: 100%;
  padding-bottom: 60px;

  display: flex;
  justify-content: space-evenly;
}

.container-btn-welcome img {
  height: 150px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.38));
}

.btnMenu {
  transition: ease-in-out 500ms;
}

.btnMenu:hover {
  transform: scale(1.1);
}

.container-btn-welcome p {
  font-size: 20px;
  font-weight: 900;
  font-family: "Julius Sans One", sans-serif;
}

/* ! SECTION CLIENTS / CONTAS / TRANSAÇÕES */

.containerClients,
.containerAccounts,
.containerTransactions {
  padding: 15px 0;
}

.subtitle {
  margin: 0;
  padding: 0 0 10px 15px;
}

.table th {
  color: var(--secundary);
  font-weight: 700;
  text-indent: 8px;
}

.table td {
  color: var(--text);
  font-weight: 400;
  text-indent: 8px;
}

.table-group-divider {
  border-top-color: var(--text);
}

.selectedRow td {
  background-color: var(--select);
}

#newClientForm,
#newAccountForm,
#newTransactionForm {
  margin: 25px 150px 0 150px;
  padding: 10px;
  border-radius: 5px;
  /* border: var(--text) solid 2px; */
  background-color: var(--bg);
  box-shadow: 1px 1px 7px var(--text);
}

#deleteClientDiv,
#deleteAccountDiv {
  margin: 25px auto;

  max-width: 50%;
  padding: 15px;
  border-radius: 5px;
  border: var(--alert) solid 2px;
  background-color: var(--bg);
  box-shadow: 1px 1px 7px var(--text);
  text-align: center;
  font-weight: 500;
}
#deleteClientP,
#deleteAccountP {
  padding-bottom: 10px;
}

#deleteClientP span,
#deleteAccountP span {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--alert);
}

#deleteClientBtnSim,
#deleteAccountBtnSim,
#btnCancelTransaction {
  --bs-btn-hover-bg: var(--alert);
  font-weight: 700;
}

.form-control {
  color: var(--text);
  text-align: left;
  background-color: var(--bs-body-bg);
}

.form-control:disabled {
  background-color: #efefef;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  vertical-align: middle;
}

.form-control,
.form-select {
  margin: 10px 0;
  color: var(--text);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--text);
  outline: none;
  box-shadow: 0 0 3px var(--text);
}

.mensageTransaction {
  color: var(--secundary);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 0 15px 0;
  font-size: 14px;
}

.errorMensageClient,
.errorMensageAccount,
.errorMensageTransaction {
  color: var(--alert);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 0 15px 0;
  font-size: 14px;
}

.okMensageTransaction {
  color: green;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 0 15px 0;
  font-size: 14px;
}

td.errorMensageNoAccount {
  color: var(--alert);
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 0 15px 0;
  font-size: 14px;
}

td.errorMensageNoAccount span {
  text-decoration: underline;
}

td.saque {
  color: var(--alert);
}

.btnActions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.containerClients .btn,
.containerAccounts .btn,
.containerTransactions .btn {
  box-shadow: 2px 2px 2px 0 rgba(20, 33, 61, 0.41);
}

.btn-outline-secondary {
  --bs-btn-color: var(--secundary);
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bg);
  --bs-btn-hover-bg: var(--secundary);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bg);
  --bs-btn-active-bg: var(--secundary);

  font-weight: 600;
  font-size: 15px;
  min-width: 111px;
  min-height: 30px;
  margin: 0 10px;
}

h3 {
  font-size: 18px;
  margin: 0;
  padding-top: 7px;
  padding-left: 15px;
}

.containerTransactions form {
  padding: 10px 0;
  margin: 0;
}

.closedAccount td {
  color: var(--alert);
  text-transform: uppercase;
  font-style: italic;
}

/* ! FOOTER */

.footer {
  padding-top: 20px;
}

.footer p {
  font-size: 12px;
  text-align: center;
}

/* ! TRANSIÇÕES */

.hiddenContentTransition {
  opacity: 0;
  transition: opacity 0.3s linear;
  pointer-events: none;
}

.showContentTransition {
  opacity: 1;
  transition: opacity 0.5s linear;
  pointer-events: auto;
}

.hiddenNavBar.showContentTransition {
  opacity: 1;
  transition: opacity 0.5s linear;
  pointer-events: auto;
}

.hiddenContent {
  display: none;
}
